<!-- <html>
<head>
    <title>Cars</title>
</head>
<body>
    <h1>Cars</h1>
    <table>
        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
            <tr>
                <td>{{ car.make }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.year }}</td>
                <td><a href="{{ url_for('carID', id=car.id) }}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html> -->